.home-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin-left: 20em;
}

.home-card {
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    margin: auto; /* Centers the card horizontally */
}
